
.clase1{
    height: 450px;
    width: 1100px;
    background: rgb(230, 43, 11);
    margin: auto;
    padding: 80px;
    position: center ;
}
.cuerpo{
    height: 350px;
    width: 1000px;
    background: rgb(218, 239, 241);
    margin: auto;
    border: 20px solid black;
    padding: 30px;
}
.float{
    text-align: center;
    font-size: larger;
    color: azure;
    float:right;
    height: 330px;
    width: 220px;
    background: rgb(32, 66, 32);
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}
.casa{
    height: 2;
    width: 100;
}